@charset "utf-8";
/* CSS Document */

body{
	background-color:#D0CEC9;
}
#headerprincipal{
	background-color:#FFFFFF;
	margin-left:450px;
	margin-right:450px;
}

#navprincipal{
	background-color: #FFFFFF;
	margin-left:400px;
	margin-right:400px;
}

#sectionprincipal{
	background-color:#FFFFFF;
	margin-left: 100px;
    margin-right:100px;
}

footer{
	background-color: #FFFFFF;
	margin-left:100px;
	margin-right:100px;
	
}

#liprincipal0{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal1{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal2{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal3{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal4{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal5{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal6{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal7{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal8{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal9{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal10{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal11{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal12{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal13{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal14{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal15{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal16{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal17{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal18{
	background-color: #E6F31A;
	display: inline;
}

#liprincipal19{
	background-color: #E6F31A;
	display: inline;
}